Repository pknu-wap/2025-1-Web3-cuketmon, pull requests merged in 2025-06, with the labels that each got.

#467 [feat] 전투화면- css 수정
  cuketmon/src/Battle/Battle.css
  cuketmon/src/Battle/Battle.js
  cuketmon/src/PickScreen/PickScreen.css
  cuketmon/src/common/TextBox/SkillDetail.js
Labels: 🖥️ Battle page, 👤 정승오, .👍 진행 완료, '📱CLIENT

#470 [fix] 전투화면- 타입표시, 버튼 수정
  cuketmon/src/Battle/Battle.css
  cuketmon/src/Battle/Battle.js
  cuketmon/src/PickScreen/PickScreen.css
  cuketmon/src/PickScreen/PickScreen.js
  cuketmon/src/common/HpBar/HpBar.js
Labels: 🖥️ Battle page, 👤 정승오, .👍 진행 완료, '📱CLIENT

#471 [fix] 선택화면- 버튼 위치조정
  cuketmon/src/PickScreen/PickScreen.css
Labels: .👍 진행 완료, '📱CLIENT

#475 [release] 테스트 서버 배포 및 cpu매칭 구현
  BE/src/main/java/cuketmon/battle/service/BattleMatchService.java
  BE/src/main/java/cuketmon/battle/service/BattleSkillService.java
  BE/src/main/java/cuketmon/monster/service/MonsterService.java
  BE/src/main/resources/application.properties
Labels: 👤 조강래, .👍 진행 완료, '⚙️SERVER

#479 [feat] 로그인화면-UI/UX 업데이트
  cuketmon/public/LoginPage/background.webp
  cuketmon/public/LoginPage/background1.webp
  cuketmon/public/LoginPage/background2.webp
  cuketmon/public/LoginPage/kakaobutton.webp
  cuketmon/public/LoginPage/logo.webp
  cuketmon/public/LoginPage/mobileBackground.webp
  cuketmon/src/Login/Login.css
  cuketmon/src/Login/Login.js
Labels: 🖥️ Login page, 👤 이찬이, .👍 진행 완료, '📱CLIENT

#486 [fix] 마이페이지, 랭킹화면- 배경화면 변경 및 테스트 코드 삭제
  cuketmon/public/RankingPage/backgroundMobile.webp
  cuketmon/src/MyPage/MyPage.js
Labels: 🖥️ Ranking page, 🖥️ My page, 👤 이찬이, .👍 진행 완료, '📱CLIENT
