Repository pknu-wap/2025-1-Web3-cuketmon, pull requests merged in 2025-05, with the labels that each got.

#148 [fix] 생성화면- 특징 입력 최대 글자 수 조정
  cuketmon/src/Make/Make.js
  cuketmon/src/NamePage/NamePage.css
Labels: 👤 이찬이, .👍 진행 완료, 🖥️ Make page, '📱CLIENT

#153 [feat] 생성화면- 이름 지정 페이지 토큰 설정
  cuketmon/src/Make/Make.js
  cuketmon/src/NamePage/NamePage.js
  cuketmon/src/TokenInitializer.js
Labels: 🖥️ Login page, 👤 이찬이, .👍 진행 완료, '📱CLIENT

#116 17 ai make datasets
  AI/.gitignore
  AI/image2text.py
  AI/path2image.py
  AI/poke-api.py
Labels: 👤 박연수, .🔥 진행 중, '🪁AI

#159 [fix] 마이페이지- 코드 삭제
  cuketmon/src/MyPage/MyPage.js
Labels: 🖥️ My page, 👤 이찬이, '📱CLIENT

#161 [fix] 생성화면- 글자 크기 및 이름 입력 창 위치 조절
  cuketmon/src/NamePage/NamePage.css
Labels: 👤 이찬이, .👍 진행 완료, 🖥️ Make page, '📱CLIENT

#162 [fix] 마이페이지- 배경화면 크기 문제 해결
  cuketmon/src/MyPage/MyPage.css
Labels: 🖥️ My page, 👤 이찬이, .👍 진행 완료, '📱CLIENT

#171 [fix] 생성화면- 몬스터 볼 이미지 오류 해결
  cuketmon/src/Make/Make.js
Labels: 👤 이찬이, .👍 진행 완료, 🖥️ Make page, '📱CLIENT

#174 [fix] 마이페이지- release button, 커켓몬 프로필 위치 수정
  cuketmon/src/MyPage/MyPage.css
Labels: 🖥️ My page, 👤 이찬이, .👍 진행 완료, '📱CLIENT

#177 [feat] 생성결과화면- 글자 위치 조정
  cuketmon/src/MakeResult/MakeResult.css
Labels: 👤 이찬이, .👍 진행 완료, 🖥️ Make page, '📱CLIENT

#184 [feature] 생성화면- 타입, 프롬프트 조건 수정
  cuketmon/src/Make/Make.js
Labels: 👤 이찬이, .👍 진행 완료, 🖥️ Make page, '📱CLIENT

#185 [fix] 생성결과화면- 커켓몬 생성 실패시 이동할 페이지 수정
  cuketmon/src/MakeResult/MakeResult.js
Labels: 👤 이찬이, .👍 진행 완료, 🖥️ Make page, '📱CLIENT

#186 [feat] 생성화면- 주소창 토큰 오류 해결
  cuketmon/src/Make/Make.js
Labels: 👤 이찬이, .👍 진행 완료, '📱CLIENT

#187 [fix] 생성화면, 생성결과화면- 주소 수정 및 요소 배치 조정
  cuketmon/src/MakeResult/MakeResult.css
  cuketmon/src/MakeResult/MakeResult.js
Labels: 👤 이찬이, .👍 진행 완료, 🖥️ Make page, '📱CLIENT

#188 [fix] 로그인화면- 버튼 텍스트 위치 수정
  cuketmon/src/Login/Login.css
Labels: 🖥️ Login page, 👤 이찬이, .👍 진행 완료, '📱CLIENT

#189 [fix] 생성결과화면- 배경화면 적용 문제 해결
  cuketmon/src/MakeResult/MakeResult.css
Labels: 👤 이찬이, .👍 진행 완료, 🖥️ Make page, '📱CLIENT

#191 [fix] 생성결과화면- 코드 구조 개선
  cuketmon/src/MakeResult/MakeResult.css
  cuketmon/src/MakeResult/MakeResult.js
Labels: 👤 이찬이, .👍 진행 완료, 🖥️ Make page, '📱CLIENT

#195 [feat] 생성화면, 이름지정화면- 백엔드 연동 코드 추가
  cuketmon/src/MakeResult/MakeResult.css
  cuketmon/src/MakeResult/MakeResult.js
  cuketmon/src/NamePage/NamePage.js
Labels: 👤 이찬이

#196 [fix] 이름지정화면- 커켓몬 이미지 위치 조정
  cuketmon/src/NamePage/NamePage.css
Labels: 👤 이찬이, .👍 진행 완료, 🖥️ Make page, '📱CLIENT

#197 [feat] 이름지정화면- 재부화 기능 추가
  cuketmon/src/NamePage/NamePage.js
Labels: 👤 이찬이, .👍 진행 완료, 🖥️ Make page, '📱CLIENT

#201 [feat] - 전투결과창구현/이미지수정
  cuketmon/public/BattlePage/HPbar.png
  cuketmon/public/BattlePage/HPbg.png
  cuketmon/src/Battle/Battle.css
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#203 [feat] 마이페이지- 포켓몬 조회 기능 구현
  cuketmon/src/MyPage/MyPage.js
Labels: 🖥️ My page, 👤 이찬이, .👍 진행 완료, '📱CLIENT

#205 [fix] 마이페이지- 커켓몬 이름, id 조회 오류 해결, 요소 조정
  cuketmon/src/MyPage/MyPage.css
  cuketmon/src/MyPage/MyPage.js
Labels: 🖥️ My page, 👤 이찬이, .🔥 진행 중, '📱CLIENT

#168 [feat] 랭킹 시스템 구현
  BE/src/main/java/cuketmon/trainer/controller/TrainerController.java
  BE/src/main/java/cuketmon/trainer/dto/TrainerDTO.java
  BE/src/main/java/cuketmon/trainer/repository/TrainerRepository.java
  BE/src/main/java/cuketmon/trainer/service/TrainerService.java
  BE/src/main/resources/application.properties
Labels: 👤 박현, .🔥 진행 중, '⚙️SERVER

#211 [release] 배포 설정
  BE/src/main/java/cuketmon/SecurityConfig.java
  BE/src/main/java/cuketmon/battle/controller/BattleController.java
  BE/src/main/java/cuketmon/monster/controller/MonsterController.java
  BE/src/main/java/cuketmon/trainer/controller/TrainerController.java
  BE/src/main/java/cuketmon/type/Type.java
  BE/src/main/resources/application.properties
Labels: 👤 조강래, .👍 진행 완료, '⚙️SERVER

#213 [feat] 마이페이지- 이미지 변환, 버튼 수정
  cuketmon/public/MyPage/background.png
  cuketmon/public/MyPage/background.webp
  cuketmon/public/MyPage/backgroundMobile.png
  cuketmon/public/MyPage/backgroundMobile.webp
  cuketmon/public/MyPage/cukemonProfile.png
  cuketmon/public/MyPage/cukemonProfile.webp
  cuketmon/public/MyPage/feed.png
  cuketmon/public/MyPage/feed.webp
  cuketmon/public/MyPage/releaseButton.png
  cuketmon/public/MyPage/releaseButton.webp
  cuketmon/public/MyPage/relevance.png
  cuketmon/public/MyPage/relevance.webp
  cuketmon/public/MyPage/toy.png
  cuketmon/public/MyPage/toy.webp
  cuketmon/public/logo512.png
  cuketmon/src/MyPage/MyPage.css
  cuketmon/src/MyPage/MyPage.js
Labels: 🖥️ My page, 👤 이찬이, .👍 진행 완료, '📱CLIENT

#215 [fix] 로그인화면- 버튼 텍스트 위치 조정 및 이미지 파일 변환, 엔드포인트 수정
  cuketmon/public/LoginPage/background.png
  cuketmon/public/LoginPage/background.webp
  cuketmon/public/LoginPage/background2.png
  cuketmon/public/LoginPage/background2.webp
  cuketmon/public/LoginPage/logo.png
  cuketmon/public/LoginPage/logo.webp
  cuketmon/src/Login/Login.css
  cuketmon/src/Login/Login.js
Labels: 🖥️ Login page, 👤 이찬이, .👍 진행 완료, '📱CLIENT

#216 [feat] 친밀도가 올랐을 때 행동 구현
  BE/src/main/java/cuketmon/monster/controller/MonsterController.java
  BE/src/main/java/cuketmon/monster/embeddable/Affinity.java
  BE/src/main/java/cuketmon/monster/entity/Monster.java
  BE/src/main/java/cuketmon/monster/service/MonsterService.java
  BE/src/main/java/cuketmon/trainer/controller/TrainerController.java
  BE/src/test/java/cuketmon/TestDummyDataConfig.java
  BE/src/test/java/cuketmon/TestSkillDataConfig.java
  BE/src/test/java/cuketmon/battle/service/BattleMatchServiceTest.java
  BE/src/test/java/cuketmon/monster/embeddable/AffinityTest.java
  BE/src/test/java/cuketmon/monster/service/MonsterServiceTest.java
  BE/src/test/java/cuketmon/skill/service/SkillServiceTest.java
  BE/src/test/java/cuketmon/trainer/embeddable/FeedTest.java
  BE/src/test/java/cuketmon/trainer/embeddable/ToyTest.java
  BE/src/test/java/cuketmon/type/TypeDamageTableTest.java
  BE/src/test/java/cuketmon/util/DamageTest.java
Labels: 👤 조강래, .👍 진행 완료, '⚙️SERVER

#218 [fix] 로그인화면- 백엔드 연동 코드 수정
  cuketmon/src/Login/Login.js
Labels: .👍 진행 완료

#224 [feat] 생성결과화면- 모바일 반응형 구현 및 임시코드 삭제
  cuketmon/src/Make/Make.js
  cuketmon/src/MakeResult/MakeResult.css
  cuketmon/src/MakeResult/MakeResult.js
Labels: 👤 이찬이, .👍 진행 완료, 🖥️ Make page, '📱CLIENT

#225 [fix] 생성결과화면- 임시 코드 삭제 및 코드 단순화 작업, 이미지 파일 변환
  cuketmon/public/MakeResultPage/chatBox.png
  cuketmon/public/MakeResultPage/chatBox.webp
  cuketmon/src/MakeResult/MakeResult.css
  cuketmon/src/MakeResult/MakeResult.js
Labels: 👤 이찬이, .👍 진행 완료, 🖥️ Make page, '📱CLIENT

#226 [fix] 메뉴바- 주소창 토큰 문제 해결
  cuketmon/public/Menubar/battleicon.png
  cuketmon/public/Menubar/battleicon.webp
  cuketmon/public/Menubar/rankingicon.png
  cuketmon/public/Menubar/rankingicon.webp
  cuketmon/src/Menubar/Menubar.js
Labels: 👤 이찬이, .👍 진행 완료, '📱CLIENT

#230 [feat] prompt table 구현
  BE/src/main/java/cuketmon/monster/controller/MonsterController.java
  BE/src/main/java/cuketmon/monster/embeddable/Affinity.java
  BE/src/main/java/cuketmon/monster/entity/Monster.java
  BE/src/main/java/cuketmon/monster/service/MonsterService.java
  BE/src/main/java/cuketmon/prompt/entity/Prompt.java
  BE/src/main/java/cuketmon/prompt/repository/PromptRepository.java
  BE/src/main/java/cuketmon/prompt/service/PromptService.java
  BE/src/main/java/cuketmon/skill/repository/SkillRepository.java
  BE/src/main/java/cuketmon/skill/service/SkillService.java
  BE/src/main/java/cuketmon/trainer/entity/Trainer.java
  BE/src/main/java/cuketmon/type/Type.java
  BE/src/test/java/cuketmon/monster/service/MonsterServiceTest.java
  BE/src/test/java/cuketmon/skill/service/SkillServiceTest.java
  BE/src/test/java/cuketmon/util/DamageTest.java
Labels: 👤 조강래, .👍 진행 완료, '⚙️SERVER

#231 [fix] - 전투화면 비율조정
  cuketmon/src/Battle/Battle.css
Labels: 🖥️ Battle page, 👤 정승오, .👍 진행 완료, '📱CLIENT

#232 [feat] 사용자가 생성한 커켓몬을 확인하는 기능 구현
  BE/src/main/java/cuketmon/monster/controller/MonsterController.java
  BE/src/main/java/cuketmon/monster/entity/Monster.java
  BE/src/main/java/cuketmon/monster/service/MonsterService.java
  BE/src/main/java/cuketmon/trainer/controller/TrainerController.java
  BE/src/main/java/cuketmon/trainer/entity/Trainer.java
  BE/src/main/java/cuketmon/trainer/service/TrainerService.java
  BE/src/main/resources/application.properties
  BE/src/test/java/cuketmon/TestDummyDataConfig.java
Labels: 👤 조강래, .👍 진행 완료, '⚙️SERVER

#233 [refactor] 마이페이지- 코드 개선
  cuketmon/src/MyPage/MyPage.js
Labels: 🖥️ My page, 👤 이찬이, .👍 진행 완료, '📱CLIENT

#234 [feat] index.html 메타테그 추가
  cuketmon/public/index.html
Labels: .👍 진행 완료, '📱CLIENT

#237 [fix] 마이페이지- 커켓몬 배열 초기화 및 커켓몬ID 로딩 추가
  cuketmon/src/MyPage/MyPage.js
Labels: 🖥️ My page, 👤 이찬이, '📱CLIENT

#250 [feat] 브라우저 확대 방지 설정
  cuketmon/public/index.html
Labels: 👤 이찬이, .👍 진행 완료, '📱CLIENT

#228 [feat] 랭킹 시스템 - 개선
  BE/src/main/java/cuketmon/trainer/controller/TrainerController.java
  BE/src/main/java/cuketmon/trainer/dto/TrainerDTO.java
  BE/src/main/java/cuketmon/trainer/entity/Trainer.java
  BE/src/main/java/cuketmon/trainer/repository/TrainerRepository.java
  BE/src/main/java/cuketmon/trainer/service/TrainerService.java
Labels: 👤 박현, .🔥 진행 중, '⚙️SERVER

#251 [feat] log system 구현
  BE/build.gradle
  BE/src/main/java/cuketmon/monster/service/MonsterService.java
  BE/src/main/java/cuketmon/prompt/service/PromptService.java
  BE/src/main/java/cuketmon/skill/service/SkillService.java
  BE/src/main/java/cuketmon/trainer/service/TrainerService.java
  BE/src/main/java/cuketmon/util/CustomLogger.java
  BE/src/main/resources/application.properties
  BE/src/main/resources/log4j2-spring.xml
Labels: 👤 조강래, .👍 진행 완료, '⚙️SERVER

#252 [fix] 오류 메시지 관리가 더 편리하도록 변경
  BE/src/main/java/cuketmon/battle/service/BattleMatchService.java
  BE/src/main/java/cuketmon/battle/util/TeamMaker.java
  BE/src/main/java/cuketmon/config/SecurityConfig.java
  BE/src/main/java/cuketmon/config/SkillConfig.java
  BE/src/main/java/cuketmon/config/SwaggerConfig.java
  BE/src/main/java/cuketmon/config/WebClientConfig.java
  BE/src/main/java/cuketmon/config/WebSocketConfig.java
  BE/src/main/java/cuketmon/constant/damageclass/DamageClass.java
  BE/src/main/java/cuketmon/constant/message/ErrorMessages.java
  BE/src/main/java/cuketmon/constant/type/Type.java
  BE/src/main/java/cuketmon/constant/type/TypeConst.java
  BE/src/main/java/cuketmon/constant/type/TypeDamageTable.java
  BE/src/main/java/cuketmon/monster/constant/MonsterConst.java
  BE/src/main/java/cuketmon/monster/dto/MonsterDTO.java
  BE/src/main/java/cuketmon/monster/embeddable/Affinity.java
  BE/src/main/java/cuketmon/monster/entity/Monster.java
  BE/src/main/java/cuketmon/monster/service/MonsterService.java
  BE/src/main/java/cuketmon/oauth/service/CustomOAuth2UserService.java
  BE/src/main/java/cuketmon/prompt/entity/Prompt.java
  BE/src/main/java/cuketmon/prompt/service/PromptService.java
  BE/src/main/java/cuketmon/skill/constant/SkillConst.java
  BE/src/main/java/cuketmon/skill/dto/SkillDTO.java
  BE/src/main/java/cuketmon/skill/entity/Skill.java
  BE/src/main/java/cuketmon/skill/repository/SkillRepository.java
  BE/src/main/java/cuketmon/skill/service/SkillService.java
  BE/src/main/java/cuketmon/trainer/constant/TrainerConst.java
  BE/src/main/java/cuketmon/trainer/embeddable/Feed.java
  BE/src/main/java/cuketmon/trainer/embeddable/Toy.java
  BE/src/main/java/cuketmon/trainer/entity/Trainer.java
  BE/src/main/java/cuketmon/trainer/service/TrainerService.java
  BE/src/main/java/cuketmon/util/Damage.java
  BE/src/test/java/cuketmon/battle/service/BattleMatchServiceTest.java
  BE/src/test/java/cuketmon/config/TestDummyDataConfig.java
  BE/src/test/java/cuketmon/config/TestSkillDataConfig.java
  BE/src/test/java/cuketmon/constant/TestConfig.java
  BE/src/test/java/cuketmon/monster/service/MonsterServiceTest.java
  BE/src/test/java/cuketmon/skill/service/SkillServiceTest.java
  BE/src/test/java/cuketmon/type/TypeDamageTableTest.java
  BE/src/test/java/cuketmon/util/DamageTest.java
Labels: 👤 조강래, .👍 진행 완료, '⚙️SERVER

#256 [feat] - 커켓몬픽창
  cuketmon/src/Battle/Battle.js
  cuketmon/src/MainRoutes.js
  cuketmon/src/Menubar/Menubar.js
  cuketmon/src/PickScreen/PickScreen.css
  cuketmon/src/PickScreen/PickScreen.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중

#254 [fix] 랭킹화면- 백엔드 연동 코드 수정 및 css 수정
  cuketmon/src/Ranking/Ranking.css
  cuketmon/src/Ranking/Ranking.js
Labels: 🖥️ Ranking page, 👤 이찬이, .👍 진행 완료, '📱CLIENT

#258 [feat] 자신의 커켓몬에 대한 요청만 허용하는 기능 구현
  BE/src/main/java/cuketmon/constant/message/ErrorMessages.java
  BE/src/main/java/cuketmon/constant/message/InfoMessages.java
  BE/src/main/java/cuketmon/monster/controller/MonsterController.java
  BE/src/main/java/cuketmon/monster/service/MonsterService.java
  BE/src/main/java/cuketmon/trainer/controller/TrainerController.java
  BE/src/main/java/cuketmon/trainer/embeddable/Toy.java
  BE/src/main/java/cuketmon/trainer/entity/Trainer.java
  BE/src/test/java/cuketmon/config/TestDummyDataConfig.java
  BE/src/test/java/cuketmon/constant/TestConfig.java
  BE/src/test/java/cuketmon/monster/service/MonsterServiceTest.java
Labels: 👤 조강래, .👍 진행 완료, '⚙️SERVER

#253 [feat] trainer name 방식 변경
  BE/src/main/java/cuketmon/trainer/controller/TrainerController.java
  BE/src/main/java/cuketmon/trainer/service/TrainerService.java
Labels: 👤 박현, .🔥 진행 중, '⚙️SERVER

#260 [feat] 유저당 보유 커켓몬 수를 제한하는 기능 구현
  BE/src/main/java/cuketmon/constant/message/ErrorMessages.java
  BE/src/main/java/cuketmon/monster/constant/MonsterConst.java
  BE/src/main/java/cuketmon/monster/controller/MonsterController.java
  BE/src/main/java/cuketmon/monster/service/MonsterService.java
  BE/src/test/java/cuketmon/monster/service/MonsterServiceTest.java
Labels: 👤 조강래, .👍 진행 완료, '⚙️SERVER

#266 [feat] 엔드 포인트 수정
  BE/src/main/java/cuketmon/trainer/controller/TrainerController.java
  BE/src/main/java/cuketmon/trainer/dto/TrainerDTO.java
  BE/src/main/java/cuketmon/trainer/entity/Trainer.java
  BE/src/main/java/cuketmon/trainer/service/TrainerService.java
Labels: 👤 박현, .🔥 진행 중, '⚙️SERVER

#276 [feat] 일일 최대 커켓몬 생성 횟수 제한 기능 구현
  BE/src/main/java/cuketmon/constant/message/ErrorMessages.java
  BE/src/main/java/cuketmon/monster/constant/MonsterConst.java
  BE/src/main/java/cuketmon/monster/controller/MonsterController.java
  BE/src/main/java/cuketmon/monster/service/MonsterService.java
  BE/src/main/java/cuketmon/trainer/entity/Trainer.java
  BE/src/test/java/cuketmon/monster/service/MonsterServiceTest.java
Labels: 👤 조강래, .👍 진행 완료, '⚙️SERVER

#285 [fix] 마이페이지- 글씨체 적용 오류 해결 및 텍스트 위치 조정
  cuketmon/src/MyPage/MyPage.css
  cuketmon/src/index.css
Labels: 🖥️ My page, 👤 이찬이, .👍 진행 완료, '📱CLIENT

#286 [fix] 커켓몬픽업화면 - 클래스명 수정
  cuketmon/src/PickScreen/PickScreen.css
  cuketmon/src/PickScreen/PickScreen.js
Labels: 👤 정승오, .👍 진행 완료, '📱CLIENT

#267 GCP 연동 완료
  AI/server/config.py
  AI/server/crud.py
  AI/server/database.py
  AI/server/inference.py
  AI/server/main.py
  AI/server/models.py
  AI/server/utils.py
Labels: 👤 박연수, .👍 진행 완료, '🪁AI

#291 [fix] 모바일 반응형 디테일 수정
  cuketmon/src/Login/Login.css
  cuketmon/src/Make/Make.css
  cuketmon/src/MyPage/MyPage.css
  cuketmon/src/Ranking/Ranking.css
Labels: 🖥️ Login page, 🖥️ Ranking page, 🖥️ My page, 👤 이찬이, .👍 진행 완료, 🖥️ Make page, '📱CLIENT

#292 [fix]랭킹화면- 모바일 반응형 커켓몬 이미지 컨테이너 크기 조정
  cuketmon/src/Ranking/Ranking.css
Labels: 🖥️ Ranking page, 👤 이찬이, .👍 진행 완료, '📱CLIENT

#294 [fix] 커켓몬픽업창- 새로고침시 토큰 사라짐 문제해결
  cuketmon/src/PickScreen/PickScreen.js
Labels: 🖥️ Battle page, 👤 정승오, .👍 진행 완료, '📱CLIENT

#303 [fix] 전투화면- 웹소켓연동 롤백
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#304 [fix] 생성화면- 커켓몬 타입 자동 설정 문제 해결
  cuketmon/src/Make/Make.js
Labels: 👤 이찬이, .👍 진행 완료, 🖥️ Make page, '📱CLIENT

#305 [feat] 웹소켓 관련 설정 추가
  BE/src/main/java/cuketmon/battle/controller/BattleWebSocketController.java
  BE/src/main/java/cuketmon/battle/service/BattleMatchService.java
  BE/src/main/java/cuketmon/config/SecurityConfig.java
  BE/src/main/java/cuketmon/trainer/controller/TrainerController.java
Labels: 👤 조강래, .👍 진행 완료, '⚙️SERVER

#306 [feat] 전투화면- 연동/매칭전 트레이너 이름 받아오기
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .👍 진행 완료, '📱CLIENT

#311 [fix] DB저장 시 공백제거 및 로컬 테스트가 용이하도록 변경
  BE/src/main/java/cuketmon/monster/service/MonsterService.java
  BE/src/main/java/cuketmon/oauth/service/OAuth2SuccessHandler.java
Labels: 👤 조강래, .👍 진행 완료, '⚙️SERVER

#313 [fix] 전투화면- 웹소켓 모듈 재설치
  cuketmon/package-lock.json
  cuketmon/package.json
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#314 [fix] 전투화면- 엔드포인트 재설정
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#315 [fix] 커켓몬픽화면- 타입 하나인 커켓몬 표시/Battle로 monsterId 전송
  cuketmon/src/PickScreen/PickScreen.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#316 [fix] 이름지정화면- 뒤로가기 금지
  cuketmon/src/NamePage/NamePage.js
Labels: 👤 이찬이, .👍 진행 완료, 🖥️ Make page, '📱CLIENT

#317 [fix] 전투화면- 받아온 monsterId 제대로 읽게 수정
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#319 [feat] 남은 프롬프트 개수를 반환하는 로직 구현
  BE/src/main/java/cuketmon/monster/controller/MonsterController.java
  BE/src/main/java/cuketmon/monster/service/MonsterService.java
  BE/src/main/java/cuketmon/oauth/service/OAuth2SuccessHandler.java
  BE/src/main/java/cuketmon/prompt/service/PromptService.java
  BE/src/main/resources/application.properties
  BE/src/test/java/cuketmon/battle/service/BattleMatchServiceTest.java
Labels: 👤 조강래, .👍 진행 완료, '⚙️SERVER

#344 [fix] 전투화면- 전투화면 렌더링 안되는 문제 해결시도
  cuketmon/src/Battle/Battle.css
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#349 [fix] 생성화면, 랭킹화면- css 디테일 수정
  cuketmon/public/RankingPage/cukemonEx.png
  cuketmon/src/Make/Make.css
  cuketmon/src/Ranking/Ranking.css
Labels: 🖥️ Ranking page, 👤 이찬이, .👍 진행 완료, 🖥️ Make page, '📱CLIENT

#350 [feat] 전투화면- 스킬사용 껍데기구현
  cuketmon/src/Battle/Battle.css
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#352 [feat] 전투화면- 전투화면 스킬사용 연동
  cuketmon/src/Battle/Battle.css
  cuketmon/src/Battle/Battle.js
  cuketmon/src/PickScreen/PickScreen.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#353 [fix] 배틀 경로 변경 및 오류 수정
  BE/src/main/java/cuketmon/battle/controller/BattleWebSocketController.java
  BE/src/main/java/cuketmon/battle/dto/MatchResponse.java
  BE/src/main/java/cuketmon/battle/service/BattleMatchService.java
Labels: 👤 조강래, .👍 진행 완료, '⚙️SERVER

#354 [fix] 전투화면- 연동 시도
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#356 Feature/battle(32)
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#357 [feat] 전투화면- 코드정리
  cuketmon/src/Battle/AnimationMap.js
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#358 [fix] 전투화면- monsterID/trainerName 중 놓친거잡기
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#359 [fix] 전투화면- trainerName 불러오기 타이밍 문제
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#360 [fix] 전투화면- console.log 추가
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#363 [fix] 전투화면- 클래스명,변수,로직 대규모 수정
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#365 [fix] 전투화면- 주석처리 및 콘솔로그/서버와 통신에 애니메이션 url 추가
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#366 [fix] 전투화면- 로딩화면 스피너 클래스 추가
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, .👍 진행 완료, '📱CLIENT

#367 [fix] 전투화면- 매칭요청 중복전송 수정
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#368 [fix] 전투화면- 매칭요청 논리오류 해결
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#369 [fix] 전투화면- 회의 후 지적사항 수정
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#373 [fix] skill이 더 많은 정보를 가져오도록 수정
  BE/src/main/java/cuketmon/skill/dto/SkillResponse.java
  BE/src/main/java/cuketmon/skill/entity/Skill.java
  BE/src/main/java/cuketmon/skill/service/SkillService.java
  BE/src/test/java/cuketmon/config/TestSkillDataConfig.java
Labels: 👤 조강래, .👍 진행 완료

#379 [fix] 커켓몬 배틀 로직 변경
  BE/src/main/java/cuketmon/battle/config/WebSocketEventListener.java
  BE/src/main/java/cuketmon/battle/constant/BattleConst.java
  BE/src/main/java/cuketmon/battle/constant/BattleResult.java
  BE/src/main/java/cuketmon/battle/controller/BattleWebSocketController.java
  BE/src/main/java/cuketmon/battle/dto/BattleDTO.java
  BE/src/main/java/cuketmon/battle/dto/EndBattleResponse.java
  BE/src/main/java/cuketmon/battle/dto/MatchResponse.java
  BE/src/main/java/cuketmon/battle/dto/SkillRequest.java
  BE/src/main/java/cuketmon/battle/repository/ActiveBattles.java
  BE/src/main/java/cuketmon/battle/repository/WaitingQueue.java
  BE/src/main/java/cuketmon/battle/service/BattleMatchService.java
  BE/src/main/java/cuketmon/battle/service/BattleSkillService.java
  BE/src/main/java/cuketmon/battle/util/TeamMaker.java
  BE/src/main/java/cuketmon/monster/dto/MonsterDTO.java
  BE/src/main/java/cuketmon/skill/service/SkillService.java
  BE/src/test/java/cuketmon/battle/service/BattleMatchServiceTest.java
Labels: 👤 조강래, .🔥 진행 중, '⚙️SERVER

#397 [feat] 전투화면- 대규모 수정. . . 챗박스와 hp바 import 및 전투로직 변경 반영
  cuketmon/public/BattlePage/loadingcircle.png
  cuketmon/src/Battle/Battle.css
  cuketmon/src/Battle/Battle.js
  cuketmon/src/common/TextBox/BattleChatbox.js
  cuketmon/src/common/TextBox/SkillButton.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#398 [fix] 전투화면- 경로설정문제
  cuketmon/src/Battle/Battle.css
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#400 [fix] 전투화면- accessToken 으로 수정
  cuketmon/src/Battle/Battle.css
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#403 [fix] 로딩스크린 어긋남 / 전투화면 콘솔로그 추가
  cuketmon/src/Battle/Battle.css
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#404 [fix] 전투화면- 구독 디버깅 콘솔로그 추가
  cuketmon/src/Battle/Battle.css
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#405 [fix] 전투화면- 로딩창 css 수정
  cuketmon/src/Battle/Battle.css
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, .👍 진행 완료, '📱CLIENT

#407 [fix] 전투화면- 애니메이션 표시 시도..
  cuketmon/src/Battle/Battle.js
  cuketmon/src/common/TextBox/BattleChatbox.js
  cuketmon/src/common/TextBox/SkillDetail.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#408 [fix] 전투화면- 구독경로수정
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .👍 진행 완료, '📱CLIENT

#411 [fix] 배틀 종료 로직 변경
  BE/src/main/java/cuketmon/battle/config/WebSocketEventListener.java
  BE/src/main/java/cuketmon/battle/controller/BattleWebSocketController.java
  BE/src/main/java/cuketmon/battle/dto/EndBattleRequest.java
  BE/src/main/java/cuketmon/battle/dto/SkillRequest.java
  BE/src/main/java/cuketmon/battle/repository/ActiveBattles.java
  BE/src/main/java/cuketmon/battle/service/BattleMatchService.java
  BE/src/main/java/cuketmon/battle/service/BattleSkillService.java
Labels: 👤 조강래, .👍 진행 완료, '⚙️SERVER

#412 [fix] 전투화면- hp0 시 BE로 전송, 컴포넌트 로딩 문제 디버깅
  cuketmon/src/Battle/Battle.css
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#414 [fix] 전투화면- 애니메이션 및 피격효과 수정
  cuketmon/src/Battle/Battle.css
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#416 [fix] 전투화면- 애니메이션 방향수정
  cuketmon/src/Battle/Battle.css
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#417 [fix] 마이페이지- 아이템 위치 조정
  cuketmon/src/MyPage/MyPage.css
  cuketmon/src/MyPage/MyPage.js
Labels: 🖥️ My page, 👤 이찬이, .👍 진행 완료, '📱CLIENT

#421 [fix] 한국의 시간을 가져오도록 수정
  BE/src/main/java/cuketmon/trainer/entity/Trainer.java
  BE/src/main/resources/log4j2-spring.xml
Labels: 👤 조강래, .👍 진행 완료, '⚙️SERVER

#422 [fix] 친밀도, 장난감, 먹이 증가 로직 변경
  BE/src/main/java/cuketmon/monster/constant/MonsterConst.java
  BE/src/main/java/cuketmon/monster/service/MonsterService.java
  BE/src/main/java/cuketmon/trainer/embeddable/Feed.java
  BE/src/main/java/cuketmon/trainer/embeddable/Toy.java
  BE/src/main/java/cuketmon/trainer/service/TrainerService.java
  BE/src/test/java/cuketmon/monster/service/MonsterServiceTest.java
Labels: 👤 조강래, .👍 진행 완료, '⚙️SERVER

#423 [fix] 결과화면- 결과 표시시 자신의 커켓몬 이미지만 표시
  cuketmon/src/Battle/Battle.css
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .👍 진행 완료, '📱CLIENT

#424 [fix] 애니메이션- 이미지 추가/배틀메세지 추가
  cuketmon/public/BattlePage/Animation/Dragon/highDamage1.png
  cuketmon/public/BattlePage/Animation/Dragon/normalDamage1.png
  cuketmon/public/BattlePage/Animation/Rock/highDamage1.png
  cuketmon/public/BattlePage/Animation/Rock/normalDamage1.png
  cuketmon/public/BattlePage/Animation/evil/normalDamage1.png
  cuketmon/src/Battle/Battle.css
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#425 [fix] 전투화면- type 에러
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#430 [fix] 전투화면- hp0시 전투종료
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#432 [feat] 전투화면- 배틀메시지
  cuketmon/src/Battle/Battle.css
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#433 [fix] 전투화면- 경로수정
  cuketmon/src/Battle/Battle.css
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, .👍 진행 완료, '📱CLIENT

#434 [fix] 배틀메시지 요청 및 습득
  cuketmon/src/Battle/Battle.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#439 [feat] 생성결과화면- 뒤로가기 시 강제 커줍 문제해결
  cuketmon/src/MakeResult/MakeResult.js
Labels: 👤 이찬이, .👍 진행 완료, 🖥️ Make page, '📱CLIENT

#443 [fix] 전체적인 css 수정
  cuketmon/src/Battle/Battle.css
  cuketmon/src/Battle/Battle.js
  cuketmon/src/PickScreen/PickScreen.css
  cuketmon/src/PickScreen/PickScreen.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#444 [feat] 전투화면- 커켓몬 위치에 따라 동적으로 애니메이션 위치
  cuketmon/src/Battle/Battle.css
  cuketmon/src/Battle/Battle.js
  cuketmon/src/PickScreen/PickScreen.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#447 [fix] 전투화면- 지적사항 반영
  cuketmon/src/Battle/Battle.css
  cuketmon/src/Battle/Battle.js
  cuketmon/src/common/HpBar/HpBar.js
  cuketmon/src/common/TextBox/BattleChatbox.js
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#454 [feat] 전투화면- 반응형
  cuketmon/src/Battle/Battle.css
  cuketmon/src/common/TextBox/BattleChatbox.css
Labels: 🖥️ Battle page, 👤 정승오, .🔥 진행 중, '📱CLIENT

#463 [fix] 테스트용으로 설정해준 토큰 유효기간을 복구함
  BE/src/main/java/cuketmon/oauth/util/JwtUtil.java
Labels: 👤 조강래, .👍 진행 완료, '⚙️SERVER

#464 [fix] 테스트 코드 스프링 빈 조회 오류 해결
  BE/src/test/java/cuketmon/battle/service/BattleMatchServiceTest.java
Labels: 👤 조강래, .👍 진행 완료, '⚙️SERVER

#465 [feat] 애니메이션/pickscreen 반응형 수정
  cuketmon/public/BattlePage/Animation/Fighting/highDamage1.png
  cuketmon/public/BattlePage/Animation/Fighting/normalDamage1.png
  cuketmon/public/BattlePage/Animation/Ghost/highDamage1.png
  cuketmon/public/BattlePage/Animation/Ghost/normalDamage1.png
  cuketmon/public/BattlePage/Animation/Normal/highDamage1.png
  cuketmon/public/BattlePage/Animation/Normal/normalDamage1.png
  cuketmon/public/BattlePage/Animation/Steel/highDamage1.png
  cuketmon/public/BattlePage/Animation/Steel/normalDamage1.png
  cuketmon/public/BattlePage/Animation/fairy/normalDamage1.png
  cuketmon/public/BattlePage/Animation/psychic/normalDamage1.png
  cuketmon/public/BattlePage/animation/Game Boy Advance - Pokemon Emerald - Move Effects.png
  cuketmon/src/PickScreen/PickScreen.css
Labels: 🖥️ Battle page, 👤 정승오, .👍 진행 완료, '📱CLIENT
